name: CI

on: [push, workflow_dispatch]

jobs:
  #compress:
  #  runs-on: ubuntu-latest
  #  steps:
  #  - uses: actions/checkout@v2
  #  - uses: pnpm/action-setup@0609f0983b7a228f052f81ef4c3d6510cae254ad
  #    with:
  #      version: 6.27.1
  #  - name: Use Node.js ${{ matrix.node-version }}
  #    uses: actions/setup-node@v3
  #    with:
  #      node-version: 16.x
  #      cache: 'pnpm'
  #  - run: pnpm i
  #  - run: node ./compress.mjs
  #  - name: Commit
  #    uses: stefanzweifel/git-auto-commit-action@v4.15.4
  #    with:
  #      commit_message: compress images
  #  - name: save sha
  #    id: ec_sha
  #    run: |
  #      echo "::set-output name=sha::$(git log -1 --format=format:"%H")"
  #  - name: Deploy Link
  #    uses: Sibz/github-status-action@v1
  #    with: 
  #      authToken: ${{secrets.GITHUB_TOKEN}}
  #      context: 'deploy'
  #      description: Deployed at https://preview.ec-nordbund.de/${{github.ref_name}}
  #      target_url: https://preview.ec-nordbund.de/${{github.ref_name}}
  #      state: 'success'
  #      sha: ${{steps.ec_sha.outputs.sha}}
  dispatch_main:
    runs-on: ubuntu-latest
    #needs: [ compress ]
    if:  github.ref_name == 'main'
    steps:
      # Dispatch an `merge-content` event to the `target_repo`
      - name: Repository Dispatch
        env:
          target_repo: 'EC-Nordbund/EC-Website'
        # You may pin to the exact commit or the version.
        # uses: peter-evans/repository-dispatch@ce5485de42c9b2622d2ed064be479e8ed65e76f4
        uses: peter-evans/repository-dispatch@v2.1.0
        with:
          token: ${{ secrets.DISPATCH_HOOK_TOKEN }}
          repository: ${{ env.target_repo }}
          event-type: merge-content
          # client-payload: # optional, default is {}
  dispatch_push:
    runs-on: ubuntu-latest
    #needs: [ compress ]
    if:  github.ref_name != 'main'
    steps:
      # Dispatch an `merge-content` event to the `target_repo`
      - name: Repository Dispatch
        env:
          target_repo: 'EC-Nordbund/EC-Website'
        # You may pin to the exact commit or the version.
        # uses: peter-evans/repository-dispatch@ce5485de42c9b2622d2ed064be479e8ed65e76f4
        uses: peter-evans/repository-dispatch@v2.1.0
        with:
          token: ${{ secrets.DISPATCH_HOOK_TOKEN }}
          repository: ${{ env.target_repo }}
          event-type: preview-content
          client-payload: '{"branch": "${{github.ref_name}}"}'
